{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div>
        <div>
            {% for product in products %}
                <div>
                    <p>{% translate "Product Name" %}: {{ product.name }}</p>
                </div>

                <div>
                    <p>{% translate "Stock" %}: {{ product.stock }}</p>
                    <p>{% translate "Barcode" %}: {{ product.barcode }}</p>
                    <p>{% translate "Category" %}: {{ product.category }}</p>
                </div>

                <div>
                    <p>
                        {% translate "Cost Price" %}: {{ product.cost_price }}
                        {% translate "Sale Price" %}: {{ product.sale_price }}
                    </p>
                </div>

                <a href="{% url 'product:update' product.id %}">Update</a>
                <br>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}