{% load i18n %}

<div class="header">
    <div class="header-text">
        <a href="{% url 'product:home' %}"><p>{% translate "Stock Control" %}</p></a>
    </div>

    <div class="search-container">
        <form action="{% url 'product:search' %}" method="GET">
            <label for="search">{% translate "Search" %}:</label>
            <input type="search" id="search" name="search" placeholder="{% translate "Search" %}..." required>
            <button type="submit">{% translate "Search" %}</button>
        </form>
    </div>

    <div>
        {% if request.user %}
            <form action="{% url 'authors:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">{% translate "Logout" %}</button>
            </form>
        {% endif %}
    </div>
</div>