{% load i18n %}

<div class="header">
    <div class="header-text">
        <p>{% translate "Stock Control" %}</p>
    </div>

    <div class="search-container">
        <form>
            <label for="search">{% translate "Search" %}:</label>
            <input type="search" id="search" name="search" placeholder="{% translate " Search" %}...">
            <button type="submit">{% translate "Search" %}:</button>
        </form>
    </div>

    <div>
        <form action="{% url "authors:logout" %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
</div>